:root{
    background-color: rgb(220, 238, 249);  
    padding: 5px;
    margin-left: 5%;   
    width: 90%;
    float: left;
    border: 1px solid #ebeefa;
    box-shadow: 0 0 55px #caccd4;
    -webkit-box-shadow: 0 0 55px #ced6f5;
    -ms-box-shadow: 0 0 55px #858aa5;

    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: absolute;
        width: 100%;
        height: 100%;
    }
    #back {
        align-items: center;
        padding: 10px;
        margin-left: 50%;
        margin-bottom: 2%;
        background: #686969;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        font-size: larger;
        border-radius:9px;
    }
    
    #back:hover {
        background: #9fa1a1; 
        transition: 0.3s;  
    }
    h1{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        color: black;
        font-size:40px;
        margin-left: 5%;
    }

    h2{
        display: flex;
        text-align: center;
        margin-left: 5px;
        color: black;
        margin-left: 5%;
    }
    h5{
        display: flex;
        text-align: center;
        margin-left: 5px;
        color: black;
        margin-left: 5%;
    }

    h6{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: black ;
        padding: 8px;
        margin: 5px;
        text-align: center;
        margin-left: 5%;
    }

    p{
        font-size: 17px;
        font-family:sans-serif;
        color: black;
        margin-left: 7%;
    }

    li{
        font-size: 17px;
        font-family:sans-serif;
        color: black;
        margin-left: 7%;
    }
    .single{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:15%
        
    }
    
    .circuit{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:35%;
    }

    .calculation{
        margin-left: 5%;
    }

    #Apparatus{
        padding:5px;
        margin-top: 7px;
        position:relative;
        text-align: center;
        width:62%;
        margin-left: 15%;
        background-color: whitesmoke;
    }
    th{
        width:7px;
        height:20px;
        border: 2px solid black;
    }
    td{
        width:7px;
        height:30px;
        border: 2px solid black;
    }


    

    
