*{
    margin: 0;
    padding: 0;
}

.status{
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    color:whitesmoke;
    margin-top: 10px;
    font-family: serif;
    text-align: center;

}
#progressBar {
    background-color: rgb(247, 245, 245);
    width: 160px;
    position: relative;
    float: inline-end;
    height: 30px;
    margin-right: 10%;
}

#progress {
    width: 12%;
    height: 100%;
    background-color:rgb(239, 217, 125);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

#timer {
    z-index: 2;
    text-align: center;
    line-height: 30px;
    color: black;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.stream{
    position:absolute;
    margin-left: 6%;
}



.controls{
    position: relative;
    text-align: right;
    margin-top:-350px;
    margin-right: 30%;
}

h2{
    display: flex;
    text-align: center;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    margin-top: 2%;
}
p{
    color: rgb(209, 201, 201);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

#On{
    position: relative;
    outline: none;  
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: small;
    font-weight:600;
    background-color:white;
    color: black;
    cursor: pointer;
}
#recal{
    margin-top: 2%;
    position: relative;
    outline: none;  
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: small;
    font-weight: 600;
    background-color:white;
    color: black;
    cursor: pointer;
}

#reset{
    margin-top: 2%;
    position: relative;
    outline: none;  
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: small;
    font-weight: 600;
    background-color:white;
    color: black;
    cursor: pointer;
}

.slider{
    height: 30px;
    width: 170px;
}
.container{
    margin-top: 160px;
}

.label-container {
    margin-right: 5%;
    font-size: larger;
    font: 300;
    color: white;
}
#table1{
    text-align: center;
    width:30%;
    margin: auto;
    background-color: whitesmoke;
    position: relative;
    margin-left: 13%;

}

#table2{
    margin-top: 5px;
    position:relative;
    text-align: center;
    width:50%;
    margin-left: 4%;
    background-color: whitesmoke;
}
#label_1{
    font:600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:block;
    justify-content:left;
    color: white;
    margin-top: -3%;
    margin-left: 23%;
}

#label_2{
    font:600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: left;
    color: white;
    margin-left: 20%;
    
}

.about{
    margin-top: 2%;
    position: relative;
    outline: none;  
    width: 170px;
    height: 50px;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    background-color: rgb(132, 255, 255);
    color: black;
    cursor: pointer;
}
th{
    width:10%;
    height:20px;
    border: 2px solid black;
}
td{
    width:10%;
    height:30px;
    border: 2px solid black;
}
#card{
    background-color:antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    width: 300px;
    height: 350px;
    text-align: left;
    margin-left:76%;
    color: black;
    font-size: large;
    overflow: hidden ;
}

#card h1{
    text-align:center;
    margin-top: 5%;
    color: rgb(0, 0, 0);
}

#status{
   font-size: larger;
}