body {
    background: url(Images/Home.jpg);
}
h2{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    
    height: 70px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}
.navbar img {
    width: 12%;
    border-radius: 5px;
}

#status{
    font-size: 20px;

}
h1{
    text-align: center;
}

.card {
    background-image: url(Images/card.jpg);
    border-radius: 20px;
    padding: 20px;
    width: 280px;
    height:350px;
    text-align: center;
    color: whitesmoke;
    margin-left: 40%;
    margin-top: 15%;
}

.card img {
    width: 50%;
    border-radius: 50%;
}

.buttons {
    margin-top: 25%;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #3aafa9;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: #2a8d8d;
}
#signOutButton {
    margin-top: 2px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #3aafa9;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
}


#signOutButton:hover {
    background-color:#2a8d8d;
}