body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image:url(Images/Home.jpg);
}

.container {
    margin-top:40px;
    background-image:url(Images/card.jpg);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: white;
}

h2 {
    margin: 0 0 1rem;
}

input {
    display: block;
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
img{
    position:absolute;
    display:flex;
    width:250px;
    margin-bottom:560px;
}
